<section class="sign sign-in">
  <form action="/sign-in" method="post">
    <div class="input-sign">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
    <div class="input-sign">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign">

    <input type="submit" value="Sign In" class="btn-submit">
  </form>

  <div class="texts">
    <p>If you don't have a account. <a href="/sign-up">Sign Up</a></p>
  </div>
</section>
