<section class="sign sign-up">
  <form action="/sign-up" method="post">
    <div class="input-sign">
      <label for="username">Name:</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="input-sign">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
    <div class="input-sign">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign">
    <input type="submit" value="Sign Up" class="btn-submit">
  </form>
  <div class="texts">
    <p>You already has a account. <a href="/sign-in">Sign In</a></p>
  </div>
</section>
