body {
  background-color: #FAFAFA;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.line-div {
  width: 100vw;
  height: 2px;
  background-color: #F5F5F5;
}
#desktop {
  display: initial;
}
#mobile {
  display: none;
}

@media(max-width: 850px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
}