body {
  background-color: #FAFAFA;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#desktop {
  display: flex;
}
#mobile {
  display: none;
}

@media(max-width: 850px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
}