<footer id="footer">
  <div class="top">
    <a href="/" class="logo">Quantum</a>
    <ul class="links">
      <li class="link"><a href="#">Shop</a></li>
      <li class="link"><a href="#">Journal</a></li>
      <li class="link"><a href="#">About</a></li>
      <li class="link"><a href="#">Contacts</a></li>
    </ul>
    <ul class="social-links">
      <li class="link"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></li>
      <li class="link"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></li>
      <li class="link"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></li>
      <li class="link"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></li>
    </ul>
  </div>
  <div class="line-div"></div>
  <div class="bottom">
    <ul class="credibility">
      <li class="text">&copy; 2016 Quantum UI kit</li>
      <li class="text">Privacy Policy</li>
      <li class="text">Terms of Use</li>
    </ul>

    <div class="payment-methods">
      <p class="desc">Accepted payment methods</p>
      <img src="/img/icons/payment/ic_visa.png" alt="visa">
      <img src="/img/icons/payment/ic_mastercard.png" alt="mastercard">
      <img src="/img/icons/payment/ic_paypal.png" alt="paypal">
      <img src="/img/icons/payment/ic_visa.png" alt="amazon card">
    </div>
  </div>
</footer>
