<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {{!-- CSS --}}
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/rating.css">
  <link rel="stylesheet" href="/css/sign.css">

  <link rel="stylesheet" href="/css/slider.css">
  <link rel="stylesheet" href="/css/news.css">
  <link rel="stylesheet" href="/css/products-sec.css">
  {{!-- Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  {{> header}}
    {{#if success}}
      <div class="success msg-div">
        <p class="success-text msg-text">{{ success }}</p>
      </div>
    {{/if}}
    {{#if warning}}
      <div class="warning msg-div">
        <p class="warning-text msg-text">{{ warning }}</p>
      </div>
    {{/if}}

    <main>
      <div class="container">
        {{{ body }}}
      </div>
    </main>

  {{> footer}}

</body>
</html>
