#main {
  margin-top: 3em;
}
.slider .frame {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 320px;
  align-items: center; 

  border-radius: 8px;
}
#main .slider .img-1 {
  background-image: url('../img/slider/img1.png');
}
#main .slider .img-2 {
  background-image: url('../img/slider/img2.png');
}
#main .slider .img-3 {
  background-image: url('../img/slider/img3.png');
}

.slider .frame .content-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider .frame .content-slider .selects-slider {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: 2em;
}
.slider .frame .content-slider .selects-slider .select {
  height: 3px;
  width: 60px;
  background-color: #737373;
  border-radius: 6px;
}
#main .slider .frame .content-slider .selected {
  background-color: #ffffff;  
}
.slider .frame .content-slider .text-slider {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 4em;
}
/* Side Buttons */
.slider .frame .btn-slider {
  border: none;
  background-color: rgba(0,0,0,.4);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 18px;
}

@media(max-width: 900px) {
  #main .slider .img-1 {
    background-image: url('../img/slider/img1.png');
  }
  #main .slider .img-2 {
    background-image: url('../img/slider/img2.png');
  }
  #main .slider .img-3 {
    background-image: url('../img/slider/img3.png');
  }
  .slider .frame .content-slider .text-slider {
    font-size: 18px;
  }
}