<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-commecer Quamtom</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/utils/reset.css">
  <link rel="stylesheet" href="/css/utils/global.css">
</head>
<body>
  <header id="header">
    <nav class="top"></nav>
    <nav class="bottom"></nav>
  </header>
  <main>
    <section class="slider"></section>
    <section class="annoucement"></section>

    <section class="products"></section>
  </main>

  <footer id="footer"></footer>
</body>
</html>