<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-commecer Quantom</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/utils/reset.css">
  <link rel="stylesheet" href="/css/utils/global.css">
  <link rel="stylesheet" href="/css/nav-top.css">
  <link rel="stylesheet" href="/css/nav-bottom.css">
  <link rel="stylesheet" href="/css/slider.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <header id="header">
    <nav class="top">
      <div class="container">
        <a href="/" class="logo">Quantom</a>
        <div class="search-box" id="desktop">
          <form action="" method="post">
            <div>
              <input type="submit" value="">
              <input type="search" placeholder="Search goods" name="search-text">
            </div>
            <div>
              <select name="category" id="category">
                <option value="none">Category</option>
                <option value="Smartphone">Phone</option>
                <option value="clock">Clock</option>
                <option value="headphone">Headphone</option>
              </select>
            </div>
            <img src="img/icon/arrow_icon.png" alt class="arrow-category">
          </form>
        </div> 
        <div class="links" id="desktop">
          <div class="items">
            <img src="/img/icon/ic_shopping_cart.png" alt>
            <a href="#">Items</a>
          </div>
          <div class="wishlist">
              <img src="/img/icon/ic_favorite_border.png" alt>
              <a href="#">Wishlist</a>
          </div>
          <div class="sing-in">
              <img src="/img/icon/ic_account_circle.png" alt>
              <a href="#">Sing-in</a>
          </div>
        </div>
        <div id="mobile">
          <span class="dropdown">
            <img src="/img/btn-menu-mobile.png" onclick="open_menu()">
            <nav class="links-m" id="menu-mobile">
              <form action="/" method="post">
                <input type="text" name="search-text" placeholder="Search goods">
                <input type="submit" value="">
              </form>
              <a href="#" class="link">Super Deals</a>
              <a href="#" class="link">Featured Brands</a>
              <a href="#" class="link">Collections</a>
              <a href="#" class="link">Bestselling</a>
              <div id="currency-mobile">
                <div class="btn-expand" onclick="toogleItemListCurrency()">
                  <a href="#">USD</a>
                  <img src="img/icon/arrow_icon.png" alt class="arrow-category">
                </div>
                <div class="content" id="content-currency">
                  <a href="#">USD</a>
                  <a href="#">BRL</a>
                  <a href="#">XBT</a>
                </div>
              </div>
              <div id="language">
                <div class="btn-expand" onclick="toogleItemListLanguage()">
                  <a href="#">Language</a>
                  <img src="img/icon/arrow_icon.png" alt class="arrow-category">
                </div>
                <div class="content" id="content-language">
                  <a href="#">English</a>
                  <a href="#">Portuguese</a>
                </div>
              </div>
              <a href="#" class="close-menu" onclick="close_menu()">X</a>
            </nav>
          </span>
        </div>
      </div> <!-- end container -->
    </nav>
    <nav class="bottom">
      <div class="container">
        <!-- All Categories -->
        <div class="all-category dropdown">
          <div class="cta">
            <div class="helper-line-labels"></div>
            <img src="img/icon/ic_menu.png" alt>
            <p>All Categories</p>
          </div>

          <nav class="dropdown-submenu">
            <a href="#">Smartphone</a>
            <a href="#">Clock</a>
            <a href="#">Headphone</a>
            <a href="#">Glass</a>
          </nav>
        </div>

        <!-- Menu links Nav -->
        <div class="menu-links">
          <a href="#">Super Deals</a>
          <a href="#">Featured Brands</a>
          <a href="#">Collections</a>
          <a href="#">Bestselling</a>
        </div>

        <div class="labels">
            <!-- Help Label -->
          <div class="help-label label dropdown">
              <div class="cta">
                <div class="helper-line-labels"></div>
                <p>Help</p>
                <img src="img/icon/arrow_icon.png" alt>
              </div>
    
              <nav class="dropdown-submenu">
                  <a href="#">Support</a>
                  <a href="#">Forum</a>
                  <a href="#">A&Q</a>
              </nav>
          </div>
          <!-- Currency Label -->
          <div class="currency-label label dropdown">
              <div class="cta">
                <div class="helper-line-labels"></div>
                <p>USD</p>
                <img src="img/icon/arrow_icon.png" alt>
              </div>
    
              <nav class="dropdown-submenu">
                <a href="#">USD</a>
                <a href="#">BRL</a>
                <a href="#">XBT</a>
              </nav>
          </div>
          <!-- Language Label -->
          <div class="language-label label dropdown">
              <div class="cta">
                <div class="helper-line-labels"></div>
                <p>Language</p>
                <img src="img/icon/arrow_icon.png" alt>
              </div>
    
              <nav class="dropdown-submenu">
                <a href="#">English</a>
                <a href="#">Portuguese</a>
              </nav>
          </div>
        </div>
        
        

    </nav>
  </header>
  <main id="main">
    <section class="slider">
      <div class="container">
        <div class="frame" id="frame">
          <button class="back-slider btn-slider" onclick="previusSlider()"><</button>
          <div class="content-slider">
            <p class="text-slider">The Universe Through A Child S Eyes</p>
            <div class="selects-slider" id="dots">
              <div class="select selected"></div>
              <div class="select"></div>
              <div class="select"></div>
            </div>
          </div>
          <button class="next-slider btn-slider" onclick="nextSlider()">></button>
        </div>
      </div>
    </section>
    <section class="annoucement-grid">
      <div class="container">
        <div class="product">
          <img src="" alt>
          <p class="text">Astronomy Or Astrology</p>
        </div>
        <div class="main-ann">
          <p class="text">The Basics Of Buying A Telescope</p>
        </div>
        <div class="product">
          <img src="" alt>
          <p class="text">Getting Free Publicity For Your Business</p>
        </div>
        <div class="product">
          <img src="" alt>
          <p class="text">How Plasma Tvs And Lcd Tvs Differ</p>
        </div>
      </div>
    </section>

    <section class="products"></section>
  </main>

  <footer id="footer">
    <div id="desktop">
      <div class="container">
          <div class="top">
            <a href="/" class="logo">Quantom</a>
            <div class="menu-links">
              <a href="#">Shop</a>
              <a href="#">Journal</a>
              <a href="#">About</a>
              <a href="#">Contacts</a>
            </div>
            <div class="social-links">
              <a href="https://www.facebook.com" target="_blank"><img src="img/icon/ic_facebook.png" alt="Facebook"></a>
              <a href="https://www.twitter.com" target="_blank"><img src="img/icon/ic_twitter.png" alt="Twitter"></a>
              <a href="https://www.instagram.com" target="_blank"><img src="img/icon/ic_instagram.png" alt="Instagram"></a>
              <a href="https://www.youtube.com" target="_blank"><img src="img/icon/ic_youtube.png" alt="Youtube"></a>
            </div>
          </div>
        </div>
        <div class="line-div"></div>
        <div class="container">
          <div class="bottom">
            <div class="info-texts">
              <p class="info-text">© 2016. Quantum UI kit</p>
              <p class="info-text">Privacy Policy</p>
              <p class="info-text">Terms of Use</p>
            </div>
            <div class="payment-methods">
              <p class="desc">Accepted payment met</p>
              <div>
                <img src="img/icon/ic_visa.png" alt="Visa">
                <img src="img/icon/ic_mastercard.png" alt="Mastercard">
                <img src="img/icon/ic_paypal.png" alt="Paypal">
                <img src="img/icon/ic_amazon.png" alt="Amazon">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="mobile">
      <div class="container">
        <a href="/" class="logo">Quantom</a>
        <div class="social-links">
          <a href="https://www.facebook.com" target="_blank"><img src="img/icon/ic_facebook.png" alt="Facebook"></a>
          <a href="https://www.twitter.com" target="_blank"><img src="img/icon/ic_twitter.png" alt="Twitter"></a>
          <a href="https://www.instagram.com" target="_blank"><img src="img/icon/ic_instagram.png" alt="Instagram"></a>
          <a href="https://www.youtube.com" target="_blank"><img src="img/icon/ic_youtube.png" alt="Youtube"></a>
        </div>
        <div class="info-texts">
          <p class="info-text">© 2016. Quantum UI kit</p>
          <p class="info-text">Privacy Policy</p>
          <p class="info-text">Terms of Use</p>
        </div>
      </div>  
    </div>
  </footer>

  <script src="js/menu-mobile.js"></script>
  <script src="js/slider.js"></script>
</body>
</html>