<section class="slider"></section>

<section class="ann"></section>

<section class="products">
  <aside>
    <div class="categories">
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Computers</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_desktop_windows.png" class="category-img">
          <p class="category-name">Apple Computers</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_laptop.png" class="category-img">
          <p class="category-name">Laptops</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_keyboard.png" class="category-img">
          <p class="category-name">Keyboard</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_memory.png" class="category-img">
          <p class="category-name">Computer Components</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_speaker.png" class="category-img">
          <p class="category-name">Accessories</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_phone_iphone.png" class="category-img">
          <p class="category-name">Cell Phones</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_tv.png" class="category-img">
          <p class="category-name">TV & Video</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_videogame_asset.png" class="category-img">
          <p class="category-name">Game consoles</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
      <a href="#" class="category">
        <div class="label">
          <img src="img/icons/category/ic_watch.png" class="category-img">
          <p class="category-name">Watches</p>
        </div>
        <img src="img/icons/ic_arrow_right.png" class="categoty-cta">
      </a>
    </div>
    <div class="promo-code">
      <div class="texts">
        <p class="title">Look Up In The Sky</p>
        <p class="desc">Astronomy Or Astrology</p>
      </div>
    </div>
  </aside>
  <main>
    <nav></nav>
    <div class="products">
      {{!-- For Each product --}}
      <div class="product"></div>
    </div>
  </main>
</section>
