<section class="slider img-slider1" id="slider">
  <button class="go-back-slider btn-slider" id="go-back-slider" onclick="previusSlider()"><</button>
  <div class="current-slider">
    <p class="text-slider">The Universe Through A Child S Eyes</p>
    <div class="slider-tabs" id="slider-tabs">
      <span class="tab current-tab"></span>
      <span class="tab"></span>
      <span class="tab"></span>
    </div>
  </div>
  <button class="go-next-slider btn-slider" id="go-next-slider" onclick="nextSlider()">></button>
</section>

<section class="news">
  <div class="first">
    <p class="title">Astronomy Or Astrology</p>
    <img src="img/news/headphone.png">
  </div>
  <div class="second">
    <p class="title">The Basics Of Buying A Telescope</p>
    <p class="desc">Astronomy Or Astrology</p>
  </div>
  <div class="third">
    <div class="third-anns">
      <img src="img/news/pencil.png">
      <p class="title">Getting Free Publicity For Your Business</p>
    </div>
    <div class="third-anns">
      <img src="img/news/watches.png">
      <p class="title">How Plasma Tvs And Lcd Tvs Differ</p>
    </div>
  </div>
</section>

{{> products }}

<script src="js/slider.js"></script>
